<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Complete Reservation</title>
</head>
<body>
<h2>Complete Reservation</h2>
Flight Id: <span th:text="${flight.id}" th:value="${flight.id}"></span><br>
Arrival City: <span  th:text="${flight.arrivalCity}"></span><br>
Airline: <span th:text="${flight.operatingAirlines}"></span><br>
Departure City: <span th:text="${flight.departureCity}"></span><br>
<form th:action="@{/completeReservation}" method="post">
<pre>
<h2>Passenger Details:</h2>
First Name:<input type="text" name="passengerFirstName"/>
Last Name:<input type="text" name="passengerLastName"/>
Email:<input type="text" name="passengerEmail"/>
Phone:<input type="text" name="passengerPhone"/>

<h2>Card Details:</h2>
Name on the card:<input type="text" name="nameOnTheCard"/>
Card No:<input type="text" name="cardNumber"/>
Expiry Date:<input type="text" name="expirationDate"/>
Three Digit Sec Code:<input type="text" name="securityCode"/>

<input type="hidden" name="flightId" th:value="${flight.id}"/>
<input type="submit" value="confirm"/>
</pre>
</form>
</body>
</html>