<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Registration Page</h2>
<form th:action="@{/registerUser}" th:method="post">
    First Name:<input type="text" name="firstName"/>
    Last Name:<input type="text" name="lastName"/>
    User Name:<input type="email" name="email"/>
    Password: <input type="password" name="password"/>
    Confirm Password: <input type="password" name="confirmPassword"/>
    <input type="submit" value="Register User"/>
</form>
</body>
</html>